/* 
to connect fonts at the end of the code add: &display=swap 
font should be connected after reset.css and before styles
*/
@import "reset.css";
@import "common.css";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
/* *========================================================================== */
body{
	font-family: "Lato", sans-serif;
	line-height: 160%;
	color: #424551;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	}
.page {
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 15px;
}
/* *==============================Header==================================== */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	padding: 20px 0;
}
.header__content{
	display: flex;
	align-items: center;
	column-gap: 60px;
	flex-wrap: wrap;
}
.header__menu {
	flex-grow: 1;
}
.menu-list__items {
	display: flex;
	column-gap: 40px;
	row-gap: 15px;
	font-weight: 700;
	line-height: 160%;
	flex-wrap: wrap;
}
.menu-list__link:hover {
	text-decoration: underline;
}
.header__actions {
	display: flex;
	align-items: center;
	column-gap: 36px;
}
.header__authorization {
	background: url(../img/icons/log.svg) 0 3px / 20px no-repeat;
	font-weight: 700;
	line-height: 160%;
}
.header__authorization a {
	display: inline-block;
	padding-left: 28px;
}
.header__authorization a:hover{
	text-decoration: underline;
}
/* *===========================Main section=================================== */
.main-content {
	padding-top: 200px;
	padding-bottom: 80px;
	background:  linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
	position: relative;
	z-index: 3;
}
/* ?info-main__block */
.info-main__block {
	display: flex;
	align-items: center;
	margin-bottom: 189px;
}
.info-main__text {
	flex: 0 1 50%;
	padding-right: 25px;
	color: #1E212C;
}
.info-main__media {
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	display: inline-flex;
	margin-bottom: 24px;
	position: relative;
	align-items: center;
	gap: 16px;
}
.info-main__media:hover {
	text-decoration: underline;
}
.info-main__media::before {
	content: "";
	flex: 0 0 52px;
	height: 52px;
	width: 52px;
	border-radius: 50%;
	background: #FF3F3A url(../img/icons/play.svg) 20px 16px / 16px no-repeat;
}
.info-main__media::after {
	content: "";
	flex: 0 0 52px;
	height: 52px;
	width: 52px;
	background: rgba(255, 64, 58, 0.12);
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.6);
	animation: scale-up-center 0.8s cubic-bezier(0.075, 0.820, 0.165, 1.000) infinite alternate forwards;
}
@keyframes scale-up-center {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(1.6);
	}
}
.info-main__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	margin-bottom: 60px;
}
.info-main__actions {
	display: flex;
	gap: 24px;
}
.info-main__image {
	flex: 0 1 50%;
}
.info-main__image img {
	max-width: 107.8%;
	transform: translate(7.8%, 0);
}
/* ?info-main__statistics */
.achieve {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.achieve__block {
	display: flex;
	align-items: center;
	column-gap: 12px;
}
.achieve__circle{
	flex: 0 0 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #FF3F3A;
}
.achieve__number {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
.achieve__item {
	color: #1E212C;
}
/* ? decor */
.decor-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-main__item {
	position: absolute;
	z-index: -1;
}
.decor-main__item--1 {
	background: url(../img/main-section/decor/01.svg) 0 0 no-repeat;
	width: 96px;
	height: 96px;
	top: 12.3%;
	left: 4.2%;
}
.decor-main__item--2 {
	background: url(../img/main-section/decor/02.svg) 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -9.26%;
	left: -5.8%;
}
.decor-main__item--3 {
	background: url(../img/main-section/decor/03.svg) 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 44.6%;
	left: 40.73%;
}
.decor-main__item--4 {
	background: url(../img/main-section/decor/04.svg) 0 0 no-repeat;
	width: 61px;
	height: 61px;
	bottom: 24.2%;
	left: 40.26%;
}
.decor-main__item--5 {
	background: url(../img/main-section/decor/01.svg) 0 0 no-repeat;
	width: 110px;
	height: 110px;
	top: -4.2%;
	right: 5%;
	transform: rotate(135deg);
}
.decor-main__item--6 {
	background: url(../img/main-section/decor/05.svg) 0 0 no-repeat;
	width: 187px;
	height: 137px;
	bottom: 10.1%;
	right: -2.7%;
}
/* *===========================about section=================================== */
.about-content {
	padding: 180px 0;
	position: relative;
	z-index: 3;
}
.info-about__block {
	display: flex;
}
.info-about__image {
	flex: 0 1 68%;
	padding-right: 40px;
}
.info-about__image img {
	max-width: 100%;
}
.info-about__text {
	flex: 0 1 32%;
}
.info-about__lable:not(:last-child) {
	margin-bottom: 8px;
}
.info-about__title:not(:last-child) {
	margin-bottom: 40px;
}
.info-about__list:not(:last-child) {
	margin-bottom: 48px;
}
.info-about__list li:not(:last-child){
	margin-bottom: 12px;
}
.info-about__button:not(:last-child) {
	margin-bottom: 10px;
}
.decor-about {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.decor-about__item {
	position: absolute;
	z-index: -1;
}
.decor-about__item--1 {
	background: url(../img/about-section/decor/01.svg) 0 0 no-repeat;
	height: 132.74px;
	width: 181.18px;
	top: 26.1%;
	left: -5.77%;
	transform: rotate(-52.46deg);
}
.decor-about__item--2 {
	background: url(../img/about-section/decor/02.svg) 0 0 no-repeat;
	height: 287.2px;
	width: 287.2px;
	bottom: 21.2%;
	right: -8.6%;
}
/* ========================================================================== */